:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start Box */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
}
/* End Box */
/* Start Padding + Margin */
.p-20 {
    padding: 20px;
}
.p-10 {
    padding: 10px;
}
.m-20 {
    margin: 20px;
}
.m-10 { 
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.mt-0 {
    margin-top: 0;
}
.ml-15 {
    margin-left: 15px;
}
/* End Padding + Margin */
/* Start Width */
.w-full {
    width: 100%;
}
/* End Width */
/* Start Color */
.bg-white {
    background-color: white;
}
.c-black {
    color: black;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
/* End Border */
/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* End Components */