:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transtion: 0.3s;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    transition: var(--main-transtion);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
ul {
    list-style: none;
    padding: 0;
}
.text-title {
    margin: 10px;
}
.text-title h3 {
    margin: 0 0 10px;
}
.text-title p {
    margin: 0 0 20px;
    color: var(--grey-color);
}
/* Start Sidebar */
.sidebar {
    box-shadow: 12px 0 20px rgb(0 0 0 / 8%);
    width: 250px;
}
.sidebar > h3 {
    margin-bottom: 60px;
}
@media (max-width: 991px) {
    .sidebar > h3 {
        font-size: 10px;
    }
}
.sidebar h3::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    bottom: -39px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid white;
    z-index: 1;
}
.sidebar h3::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 80px;
    height: 2px;
    border: 6px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 767px){
    .sidebar {
        width: 70px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after,
    .sidebar .links li a span {
        display: none;
    }
}
.links li {
    max-width: 170px;
    transition: var(--main-transtion);
}
.links li:hover,
.active {
    background-color: #f6f6f6;
}
.links li i {
    width: 20px;
    text-align: center;
}
.links li a {
    display: flex;
    gap: 10px;
    color: black;
    transition: var(--main-transtion);
}
/* End Sidebar */
/* Start Header */
.head {
    justify-content: space-between;
}
.header .search form {
    border: 1px solid rgb(209 209 209);
    width: fit-content;
    border-radius: 6px;
    padding: 5px;
    margin-left: 20px;
}
.header .search i {
    color: var(--grey-color);
}
.header .search input {
    border: none;
    width: 120px;
}
.header .search input::placeholder {
    color: rgb(134 134 134);
}
.header .profile i {
    cursor: pointer;
    position: relative;
}
.header .profile i::after {
    content: "";
    background-color: red;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    right: -1px;
    top: -1px;
}
.header .profile img {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}
/* End Header */
/* Start Content */
.content .title h1::before,
.content .title h1::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}
.content .title h1::before {
    width: 40px;
    background-color: black;
    z-index: 1;
}
.content .title h1::after {
    width: 120px;
    background-color: white;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-right: 20px;
    margin-left: 20px;
}
@media (max-width: 767px) {
    .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
}
}
.welcome .head {
    background-color: #f5f5f5;
}
.welcome .head img {
    width: 200px;
    margin-bottom: 0;
}
.welcome .head .logo {
    position: absolute;
    bottom: -20px;
    left: 30px;
}
.welcome .head .logo img {
    width: 40px;
    border: 2px solid #eee;
    border-radius: 50%;
}
.welcome .info {
    width: 100%;
}
.welcome .info .text {
    margin: 50px 10px 15px;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.welcome .link {
    text-align: right;
    margin: 0 0 50px;
}
.welcome .link a {
    background-color: var(--blue-color);
    color: white;
    width: fit-content;
    padding: 2px 10px;
    margin-right: 10px;
    transition: var(--main-transtion);
}
.welcome .link a:hover {
    background-color: var(--blue-alt-color);
}
.draft .inputs [name="text"] {
    display: block;
    width: calc(100% - 35px);
    background-color: #f5f5f5;
    border: none;
}
.draft .inputs textarea {
    height: 150px;
    resize: none;
}
.draft .save-a {
    text-align: right;
    margin: 20px 20px 20px 0;
}
.draft .save-a a {
    background-color: var(--blue-color);
    color: white;
    padding: 2px 10px;
}
.targets .info:last-child {
    margin-bottom: 20px;
}
.targets .info .icon {
    width: 65px;
    text-align: center;
}
.targets .info .bl {
    background-color: #0077ff5b;
}
.targets .info .bl i {
    color: var(--blue-color);
}
.targets .info .or {
    background-color: #f59e0b5b;
}
.targets .info .or i {
    color: var(--orange-color);
}
.targets .info .gr {
    background-color: #22c55e5b;
}
.targets .info .gr i {
    color: var(--green-color);
}
.targets .info .progrs-holder {
    width: calc(100% - 120px);
}
.targets .info .progrs-holder span:first-child {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--grey-color);
}
.targets .info .progrs-holder .progress {
    height: 3px;
}
@media (max-width: 767px) {
    .targets .info .progrs-holder .progress span::before,
    .targets .info .progrs-holder .progress span::after {
        display: none;
    }
}
.targets .info .progrs-holder .bl span {
    height: 3px;
    background-color: var(--blue-color);
}
.targets .info .progrs-holder .bl span::before {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    bottom: 15px;
    transform: translateX(50%);
    background-color: var(--blue-color);
    color: white;
    border-radius: 6px;
    padding: 2px 5px;
}
.targets .info .progrs-holder .bl span::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    transform: translateX(50%);
    border-style: solid;
    border-color: var(--blue-color) transparent transparent transparent;
    border-width: 10px;
}
.targets .info .progrs-holder .or span {
    height: 3px;
    background-color: var(--orange-color);
}
.targets .info .progrs-holder .or span::before {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    bottom: 15px;
    transform: translateX(50%);
    background-color: var(--orange-color);
    color: white;
    border-radius: 6px;
    padding: 2px 5px;
}
.targets .info .progrs-holder .or span::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(50%);
    border-style: solid;
    border-color: var(--orange-color) transparent transparent transparent;
    border-width: 10px;
}
.targets .info .progrs-holder .gr span::before {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    bottom: 15px;
    transform: translateX(50%);
    background-color: var(--green-color);
    color: white;
    border-radius: 6px;
    padding: 2px 5px;
}
.targets .info .progrs-holder .gr span::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    transform: translateX(50%);
    border-style: solid;
    border-color: var(--green-color) transparent transparent transparent;
    border-width: 10px;
}
.targets .info .progrs-holder .gr span {
    height: 3px;
    background-color: var(--green-color);
}
.stats .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.stats .container .ticket {
    text-align: center;
    border: 1px solid #d5d5d5;
}
.stats .container .ticket .icon i {
    font-size: 22px;
}
.stats .container .ticket .icon.or i {
    color: var(--orange-color);
}
.stats .container .ticket .icon.bl i {
    color: var(--blue-color);
}
.stats .container .ticket .icon.gr i {
    color: var(--green-color);
}
.stats .container .ticket .icon.red i {
    color: var(--red-color);
}
.stats .container .ticket h3 {
    margin: 5px;
}
.stats .container .ticket span {
    font-size: 12px;
    color: var(--grey-color);
}
/* End Content */
